{%extends 'base-blog.html'%}

{%block description%}A blog post for people who have bad ISP's and can not get their PPPoP password.{%endblock%}
{%block keywords%}pppoe, password, isp{%endblock%}
{%block title%}How to get your PPPoE Password{%endblock%}

{%block body%}
<h1 id="get-your-pppoe-password">Get Your PPPoE Password</h1>
<p>If you are here you probably know why you need your <a
        href="https://en.wikipedia.org/wiki/Point-to-point_protocol_over_Ethernet">Point-to-Point Protocol over Ethernet
        (PPPoE)</a> password, so I will just explain it right now. Keep in mind that this will work if you have access
    to the router and the PPPoE password is typed in, but the password is replaced by asterisks or something else.
    <strong>Of course you should first contact your ISP to get the PPPoE password</strong>, but if not, not all hope is
    lost.</p>
<ol>
    <li>Log into your router.</li>
    <li>Go to your WAN settings (if your PPPoE settings are in a different place, go there).</li>
    <li>Select your PPPoE username (for easy navigation and as you can not inspect element passwords), right click and
        click inspect element.</li>
    <li>Navigate to where your password box is (when you hover over elements in the element inspector, parts on the
        website that are associated with the code your mouse hovers on gets highlighted) like <a
            href="/static/media/getpppoepsswd.png">here</a>.</li>
    <li>Change <code>type=&quot;password&quot;</code> to <code>type=&quot;text&quot;</code> which should turn your
        asterisks into clear text (it will go back to asterisks when you reload the page).</li>
</ol>
<p>ISP's can do a lot more to simply block you from using any 3rd party routers than not giving you your PPPoE password.
    Some routers have <a
        href="https://networkengineering.stackexchange.com/questions/19470/mac-address-cloning-why-and-when-is-it-required/">MAC
        cloning</a> feature to bypass one more type of restriction that an ISP can put, but that might not be sufficient
    for you.</p>
<hr>
<p>Disclaimer: This is for educational purposes, and I am not responsible with what you do with this knowledge. I did
    this on <code>Huawei HG253s</code> and your results may differ on different routers.</p>
{%endblock%}
