{%extends 'base-blog.html'%}

{%block description%}My plans for the future of this site{%endblock%}
{%block keywords%}osint, geosint, recipe, food, maps, microblogging{%endblock%}
{%block title%}Updates To Come{%endblock%}

{%block body%}
        <h1>Updates That I Have Planned</h1>
        <h2>OSINT</h2>
        <p>Recently I started doing OSINT again but faced the issue of there not being enough geolocation and image analysis challenges, let alone tracking (fabricated) personalities down.<br>So, I plan on creating a section on this website dedicated for images that I took around Istanbul, and potentially other countries with varying difficulty levels. These will include buildings, streets, objects, anything that comes into my mind. Of course, recommendations are welcome.</p>
        <hr>
        <h2>Cooking</h2>
        <p>It really is quite a fun hobby .. if you can do it. So perhaps I will also be posting my own recipes for very simple things one day.</p>
        <hr>
        <h2>Microblogging</h2>
        <p>Lots of short things to say that don't warrant their own blog post. Maybe Mastodon, maybe just a page on this site for "twitter post like" posts, maybe twtxt, who knows.</p>
        <hr>
        <h2><del>"Rebranding"</del></h2>
        <p><del>The name on this site should be enough to tell why I want it.. Wasn't too smart when picking it</del><br>It is done.</p>
        <hr>
        <h2><del>Services</del></h2>
        <p><del>I thought why not run some services as well. I can't do it while this page is hosted on Codeberg, but I can do it when I get a VPS and everything. Currently, I am thinking of SSH tunneling.</del> You can request some things and I could run them I think.<br>Done. You can still request services and I will see what I can do.</p>
        <br><p><i>May update this page before I actually start implementing these changes.</i></p>
{%endblock%}
