{%extends 'base-blog.html'%}

{%block description%}Tracking your fitness progress with various open source apps.{%endblock%}
{%block keywords%}fitness, tracking, fdroid, open source, progress{%endblock%}
{%block title%}Fitness Tracking Apps{%endblock%}

{%block body%}
    <h1>Tracking Fitness Progress With Open Source Apps</h1>
    <p>While there are a lot of open source fitness and diet tracking apps, not all of them may be suitable for ones needs. Here I will document my experiences with each app I test off of F-Droid.</p>
    <hr>
    <p>For context: this whole "review" will be done in my perspective but I will try to state the objective truth about these apps before giving my own experience review. My workout currently consists only of calisthenics and I will be focusing on that aspect for the most part, however I will probably talk about viability for weightlifting too.</p>
    <p>List of contents:</p>
    <ul>
        <li><a href="#massive">Massive</a></li>
        <li><a href="#wger">wger</a></li>
        <li><a href="#fast-n-fitness">Fast N Fitness</a></li>
        <li><a href="#splitfit">Splitfit</a></li>
        <li><a href="#lift">Lift</a></li>
        <li><a href="#workoutlog">WorkoutLog</a></li>
        <li><a href="#conclusion">Conclusion</a></li>
    </ul>
    <p>I will use each app for 10 sessions in total. This testing may not show how the app feels in the long term, however I simply can not sit on my phone for 30 minutes inputting my workout details into 6 apps after every session, so it is what it is.</p>
    <hr>
    <h3 id="massive">Massive</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore disputandum putant. Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa.</p>

    <p>Quae recte, quae oblique ferantur, deinde eadem illa individua et solida corpora ferri deorsum suo pondere ad lineam, hunc naturalem esse omnium corporum motum. Deinde ibidem homo acutus, cum illud ocurreret, si omnia deorsus e regione ferrentur et, ut dixi, ad lineam, numquam fore ut.</p>

    <p>Electram, tamen male conversam Atilii mihi legendam putem, de quo quaerimus, non quo ignorare vos arbitrer, sed ut ratione et via procedat oratio. Quaerimus igitur, quid sit extremum et ultimum bonorum.</p>
    <hr>
    <h3 id="wger">wger</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore disputandum putant. Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa.</p>

    <p>Quae recte, quae oblique ferantur, deinde eadem illa individua et solida corpora ferri deorsum suo pondere ad lineam, hunc naturalem esse omnium corporum motum. Deinde ibidem homo acutus, cum illud ocurreret, si omnia deorsus e regione ferrentur et, ut dixi, ad lineam, numquam fore ut.</p>

    <p>Electram, tamen male conversam Atilii mihi legendam putem, de quo quaerimus, non quo ignorare vos arbitrer, sed ut ratione et via procedat oratio. Quaerimus igitur, quid sit extremum et ultimum bonorum.</p>
    <hr>
    <h3 id="fast-n-fitness">Fast N Fitness</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore disputandum putant. Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa.</p>

    <p>Quae recte, quae oblique ferantur, deinde eadem illa individua et solida corpora ferri deorsum suo pondere ad lineam, hunc naturalem esse omnium corporum motum. Deinde ibidem homo acutus, cum illud ocurreret, si omnia deorsus e regione ferrentur et, ut dixi, ad lineam, numquam fore ut.</p>

    <p>Electram, tamen male conversam Atilii mihi legendam putem, de quo quaerimus, non quo ignorare vos arbitrer, sed ut ratione et via procedat oratio. Quaerimus igitur, quid sit extremum et ultimum bonorum.</p>
    <hr>
    <h3 id="splitfit">Splitfit</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore disputandum putant. Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa.</p>

    <p>Quae recte, quae oblique ferantur, deinde eadem illa individua et solida corpora ferri deorsum suo pondere ad lineam, hunc naturalem esse omnium corporum motum. Deinde ibidem homo acutus, cum illud ocurreret, si omnia deorsus e regione ferrentur et, ut dixi, ad lineam, numquam fore ut.</p>

    <p>Electram, tamen male conversam Atilii mihi legendam putem, de quo quaerimus, non quo ignorare vos arbitrer, sed ut ratione et via procedat oratio. Quaerimus igitur, quid sit extremum et ultimum bonorum.</p>
    <hr>
    <h3 id="lift">Lift</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore disputandum putant. Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa.</p>

    <p>Quae recte, quae oblique ferantur, deinde eadem illa individua et solida corpora ferri deorsum suo pondere ad lineam, hunc naturalem esse omnium corporum motum. Deinde ibidem homo acutus, cum illud ocurreret, si omnia deorsus e regione ferrentur et, ut dixi, ad lineam, numquam fore ut.</p>

    <p>Electram, tamen male conversam Atilii mihi legendam putem, de quo quaerimus, non quo ignorare vos arbitrer, sed ut ratione et via procedat oratio. Quaerimus igitur, quid sit extremum et ultimum bonorum.</p>
    <hr>
    <h3 id="workoutlog">WorkoutLog</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore disputandum putant. Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa.</p>

    <p>Quae recte, quae oblique ferantur, deinde eadem illa individua et solida corpora ferri deorsum suo pondere ad lineam, hunc naturalem esse omnium corporum motum. Deinde ibidem homo acutus, cum illud ocurreret, si omnia deorsus e regione ferrentur et, ut dixi, ad lineam, numquam fore ut.</p>

    <p>Electram, tamen male conversam Atilii mihi legendam putem, de quo quaerimus, non quo ignorare vos arbitrer, sed ut ratione et via procedat oratio. Quaerimus igitur, quid sit extremum et ultimum bonorum.</p>    
    <hr>
    <h3 id="conclusion">Conclusion</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore disputandum putant. Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa.</p>

    <p>Quae recte, quae oblique ferantur, deinde eadem illa individua et solida corpora ferri deorsum suo pondere ad lineam, hunc naturalem esse omnium corporum motum. Deinde ibidem homo acutus, cum illud ocurreret, si omnia deorsus e regione ferrentur et, ut dixi, ad lineam, numquam fore ut.</p>

    <p>Electram, tamen male conversam Atilii mihi legendam putem, de quo quaerimus, non quo ignorare vos arbitrer, sed ut ratione et via procedat oratio. Quaerimus igitur, quid sit extremum et ultimum bonorum.</p>
{%endblock%}
