{%extends 'base-blog.html'%}

{%block description%}A non-scientific analysis on whether (spare) laptops can be used as servers{%endblock%}
{%block keywords%}server, laptop, second hand, cheap{%endblock%}
{%block title%}Laptops as Servers{%endblock%}

{%block body%}
<h1>Using Laptops as Servers</h1>
<p>Budget may be tight, so a Raspberry Pi is not an option but you still need a server and have a laptop lying around or you may want to purchase a second hand one. But is it worth it?</p>
<hr>
<p>I bought X second hand laptops of varying quality, age, and specs</p>
{%endblock%}
