<html lang="en"> 
    <head>
        <title>You seem to be lost, traveler | m3r</title>
        <meta charset="UTF-8">
        <meta name="author" content="m3r">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer">
        <link rel="shortcut icon" href="/static/media/favicon.webp" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/404.css">
        <meta name="robots" content="noindex">
    </head>
    <body>
        <h2>I think you hit a dead end.</h2>
        <h1>404</h1>
        <p>If you came here by clicking a link, please <a href="/contact">contact me</a>. <a href="/">Go to my homepage</a>.</p>
    </body>
</html>
