{%extends 'base-root.html'%}
{%block title%}Contact{%endblock%}
{%block keywords%}contact,m3r{%endblock%}
{%block description%}How to contact m3r{%endblock%}
{%block body%}
<h2 class="center">Contact Me</h2>
<h3>I am available on:</h3>
<p> <a href="https://matrix.to/#/@mazer:envs.net">[Matrix]</a> (@mazer:envs.net)</p>
<p> <a href="mailto:contact@m3r.one">Email</a> (contact@m3r.one)</p>
<p>- More if I remember which platforms I am on</p></p>

<p> For encryption, please either DM me on [Matrix] or if you use email, use my PGP key. You can find it in <a href="/pgp-key.txt">pgp-key.txt</a> or use ProtonMail (or another client/provider that automatically fetches
    from WKD).</p>
{%endblock%}
