{%extends 'base-root.html'%}
{%block title%}Donate{%endblock%}
{%block keywords%}m3r, donate, monero, bitcoin{%endblock%}
{%block description%}Donate to m3r.{%endblock%}
{%block body%}
<h1 class="center">Donate</h1>
<p>If you decided to donate to me for some reason, thank you for supporting me.</p>
<p>BTC: <code class="breakable">bc1qcwse8c5ap0sl9dlnwnlmjke68lyg6xjnh8w0hp</code> <a href="/static/media/btcqr.png">QR-Code</a></p>
<p>XMR: <code class="breakable">42GZFFkf1257eerwCiPo8NCjHPdckSz5w4F5Rj7aeiE5H99dycmTGNvVm5e9Y86ZtR6BzADipDoNwbtpKkDFZK46NN8aYpk</code> <a href="/static/media/moneroqr.png">QR-Code</a></p>

<h3>No PayPal?</h3>
<p>Indeed, no PayPal. It doesn't work in Turkey.</p>
{%endblock%}
