{%extends 'base-root.html'%}
{%block title%}Donate{%endblock%}
{%block keywords%}m3r, donate, monero, bitcoin{%endblock%}
{%block description%}Donate to m3r.{%endblock%}
{%block body%}
<h1 class="center">Donate</h1>
<p>If you decided to donate to me for some reason, thank you for supporting me.</p>
<p>BTC: <code class="breakable">bc1qtzsn3kqjw0wv3m9sz0cwje4jvd6sn85vafclke</code> <!-- <a href="/static/media/btcqr.png">QR-Code</a> old pic!--></p>
<p>XMR: <code class="breakable">89aKLuEaYj8NVnckgrwYZvTKcdin5XnSAJ8bLSsoX4xNiYbS3wBUyjydLXUBZD1ThjHJYsq2KrXogXV8EYssysds2aTSakA</code> <!-- <a href="/static/media/moneroqr.png">QR-Code</a> old pic!--></p>

<h3>No PayPal?</h3>
<p>Indeed, no PayPal. It doesn't work in Turkey.</p>
{%endblock%}
