<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="m3r's directory of his blogs, contact info and other cool projects.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer">
        <meta name="keywords" content="blog, contact, m3r">
        <title>Main page | m3r</title>
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="shortcut icon" href="/static/media/favicon.webp" type="image/x-icon">
    </head>

    <body>
        <main>
            <h1>Just a Personal Site</h1>
            <p>Don't be shy:</p>
            <nav class="directory">
                <a href="https://github.com/m3rone" class="directory__dircard"><span class="directory__dircard__text">Github</span></a>
                <a href="/select" class="directory__dircard"><span class="directory__dircard__text">Blog</span></a>
                <a href="https://codeberg.org/m3r" class="directory__dircard"><span class="directory__dircard__text">Codeberg</span></a>
                <a href="/services" class="directory__dircard"><span class="directory__dircard__text">Services</span></a>
                <a href="/contact" class="directory__dircard"><span class="directory__dircard__text">Contact</span></a>
                <a href="/donate" class="directory__dircard"><span class="directory__dircard__text">Donate</span></a>
            </nav>
            <section class="whoami" aria-label="a snippet about me">
                <div class="whoami__termbar">
                    <img class="whoami__termbar__consoleicon" src="/static/icons/Konsole_icon_breeze.svg" alt="konsole icon">
                    <p>~:zsh — Konsole</p>
                    <div class="whoami__termbar__buttons">
                        <div class="whoami__termbar__buttons--down"></div>
                        <div class="whoami__termbar__buttons--fullscreen"></div>
                        <label class="whoami__termbar__buttons--close" for="whoamiclosebox">
                            <div class="whoami__termbar__buttons--close"></div>
                            <input type="checkbox" name="" id="whoamiclosebox" autocomplete="off">
                        </label>
                    </div>
                </div>
                <p class="whoami__query"> <span class="whoami__name">johndoe</span>@<span class="whoami__name">artix</span> <span class="whoami__pwd">[~]</span> % <span class="whoami__validcmd">whoami</span></p>
                <p> Hi. I'm an economics major, Linux sysadmin, and programmer from Turkey that enjoys full stack web development with SvelteKit, Flask, Django and alike and software development that consist of primarily API wrappers, scrapers, and tools.</p>
                    
                <p>Other than that some unrelated hobbies like watches, woodworking, everything Linux, reading depressing inflation news, and some more.</p>
            </section>
        </main>
        <footer class="indexfooter"><a href="/privacy">Privacy Policy</a> <a href="/disclaimer">Disclaimer</a> <a href="/contact">Contact</a></footer>
    </body>
</html>
