<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="m3r's directory of his blogs, contact info and other cool projects.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer">
        <meta name="keywords" content="blog, contact, m3r">
        <title>Main page | m3r</title>
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="shortcut icon" href="/static/media/favicon.webp" type="image/x-icon">
    </head>

    <body>
        <main>
            <h1>Just a Personal Site</h1>
            <p>My directory:</p>
            <nav class="directory">
                <a href="https://codeberg.org/m3r" class="directory__dircard"><span class="directory__dircard__text">Codeberg</span></a>
                <a href="/select" class="directory__dircard"><span class="directory__dircard__text">Blog</span></a>
                <a href="https://github.com/m3rone" class="directory__dircard"><span class="directory__dircard__text">Github</span></a>
                <a href="/services" class="directory__dircard"><span class="directory__dircard__text">Services</span></a>
                <a href="/contact" class="directory__dircard"><span class="directory__dircard__text">Contact</span></a>
                <a href="/donate" class="directory__dircard"><span class="directory__dircard__text">Donate</span></a>
            </nav>
            <section class="whoami" aria-label="about me snippet">
                <p> <b>[johndoe@artix]~% whoami</b></p>
                <p> Salutations, tis I, m3r. I'm an economics major and programmer from <span class="easteregg" title="🇹🇷🇹🇷🇹🇷🇹🇷🇹🇷 AS BAYRAKLARI AS AS AS 🇹🇷🇹🇷🇹🇷🇹🇷🇹🇷">Turkey</span> that enjoys full stack web development (and doing my best with design) and software development that consist of primarily API wrappers, scrapers, and tools. Other than that some unrelated hobbies like watches (Seiko gang), woodworking, everything Linux, reading depressing inflation news, and <span class="easteregg" title="well ok if you really insist on knowing the rest: I like knitting, making music, CAD stuff, hardware hacking, arduino stuff, self hosting, all that cool stuff. I just try to be jack of all trades, master of at least some lol">some more</span>.</p>
            </section>
        </main>
        <footer class="indexfooter"><a href="/privacy">Privacy Policy</a> <a href="/disclaimer">Disclaimer</a> <a href="/contact">Contact</a></footer>
    </body>
</html>
