{%extends 'base-root.html'%}
{%block title%}Privacy Policy{%endblock%}
{%block keywords%}m3r, privacy, policy{%endblock%}
{%block description%}Privacy policy of m3r.one{%endblock%}
{%block body%}
<h1 class="center">Privacy Policy</h1>
<p>This website does not use cookies and does not store IP addresses or any other information and does not use any other
    kind of tracking technology.
    <br><br>When donating: sender wallet addresses, receiver wallet addresses, transaction time, and the transaction
    amount may be visible on some platforms to the public without any authentication requirements due to the design of
    the donation platform donator chooses.
    <!-- <br><br>When using <a href="/wkd-verify">WKD Verifier</a>, your email address is not saved, viewed, or sent to any
    other party other than for it to be queried at the target website. -->
</p>
<p>Last updated: <b>2023-12-24</b></p>
{%endblock%}
