{%extends 'base-root.html'%}

{%block title%}Post selection{%endblock%}
{%block keywords%}archive, directory, blog{%endblock%}
{%block description%}Select a post that you want to view by m3r{%endblock%}
{%block body%}
    <h1>
        Which post you want to look at? <a href="/feed.xml"><img src="/static/icons/rss.svg" alt="RSS Feed" height="20" width="20"></a>
    </h1>
    <nav class="postlist">
        <p class="post"><a href="/posts/updates-to-come">Updates to Come</a> 2022-07</p>
        <p class="post"><a href="/posts/cryptsetup-guide">Quick Walkthrough of Cryptsetup</a> 2021-06</p>
        <p class="post"><a href="/posts/borgbackup-guide">Easy Borg Backup Starters Guide</a> 2021-04</p>
        <p class="post"><a href="/posts/are-vpns-useful">Are VPN's really useful?</a> 2021-04</p>
        <p class="post"><a href="/posts/signing-commits">How to sign your Git commits</a> 2021-04</p>
        <p class="post"><a href="/posts/get-pppoe-password">How to get your PPPoE Password</a> 2021-04</p>
    </nav>
{%endblock%}
