{%extends 'base-root.html'%}
{%block title%}Services{%endblock%}
{%block keywords%}services, m3r{%endblock%}
{%block description%}Services offered on m3r.one{%endblock%}
{%block body%}
<h2>Services I offer</h2>
<p>Things I host:
    <ul>
        <li>SSH Tunneling (contact me)</li>
        <li>HTTP Proxy (contact me)</li>
        <li>BorgBackup (contact me)</li>
        <li>Email (contact me)</li>
        <li>EteBase (contact me)</li>
        <!-- <li><a href="/wkd-verify">WKD (web key directory) verifier</a></li> -->
        <li><a href="https://bin.m3r.one">bin</a> <sup><a href="https://github.com/w4/bin">?</a></sup> 32kb upload limit</li>
        <!-- <li><a href="https://0x0.st">0x0.st</a> (soon)</li> -->
        <!-- <li><a href="https://github.com/juriansluiman/groceri.es">groceri.es</a> (soon)</li> -->
        <!-- <li><a href="https://grocy.info/">grocy</a> (soon)</li> -->
        <li>maybe a torrent tracker soon as well</li>
        <li><a href="https://m3rone.github.io/english2latex/">english2latex</a> Funny thing that changes english letters to greek letters with LaTeX</li>
        <li><a href="https://m3rone.github.io/pyprojectgen/">pyprojectgen</a> A pyproject.toml generator</li>
        <!-- <li><a href="https://gitlab.com/Nulide/findmydevice">FindMyDevice</a> (soon)</li> -->
    </ul>
    contact me if you want some other things hosted and I will see.
</p>
{%endblock%}
