@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/jetbrainsmono/jetbrains-mono-v20-latin-regular.woff2') format('woff2');
  }
