$clr-bg: #1a1a1a;
$clr-text: #d9d9d9;
$clr-bg-light: #f5f5f5;
$clr-text-light: #262626;

$clr-links: rgb(77, 160, 228);
$text-width: 78ch;

$enable-light: false; //TODO: FIX THE INDEX.HTML CONSOLE TEXT COLOR IN LIGHT MODE
$enable-roboto: true;
